/* =========================
    ADD TASK FORM (POPUP)
   ========================= */

.add-task-form {
    position: absolute;
    top: 50%;
    right: 0;

    width: 400px;
    padding: 50px 30px;

    display: none;
    flex-direction: column;
    gap: 20px;

    background: var(--color-bg-secondary);
    border-radius: 10px;

    opacity: 0;
    pointer-events: none;

    transform: translateX(-50%) translateY(10px);
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

.add-task-form.active {
    display: flex;
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0);
}

.add-task-form input{
    width: 100%;
    display: block;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.add-task-form button {
    width: 40%;
    padding: 10px 0;

    align-self: center;
    font-size: 20px;

    border: none;
    border-radius: 10px;
    background: var(--color-task-category);

    cursor: pointer;
}

@media (max-width: 600px) {
    .add-task-form {
        width: 80%;
        padding: 30px 20px;
    }
}