/* =========================
    GLOBAL TASK PAGE STYLES
   ========================= */

.task-page {
    color: var(--color-text-primary);
}

/* =========================
    CATEGORY HEADER AREA
   ========================= */

.task-categories-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: min(10px, 2%);
}

.task-categories-section {
    border: 1px solid var(--color-border-hr);
    margin-bottom: min(40px, 5%);
    padding-bottom: min(30px, 5%);
    box-shadow: 0 4px 10px 0 var(--color-shadow);
}

.task-categories-section h2 {
    margin: 30px 0;
    flex: 1;
}

/* =========================
    CREATE CATEGORY BUTTON
   ========================= */

.create-category-btn {
    flex: 0.2;
    height: 50px;
    padding: 7px;

    font-size: clamp(10px, calc(3vw + 1rem), 20px);
    border-radius: 10px;
    border: none;

    background-color: var(--color-task-category);
    color: #1F2936;

    cursor: pointer;
    box-shadow: 0 4px 20px 0 var(--color-shadow);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.create-category-btn:hover {
    background-color: var(--color-hover-primary);
    transform: scale(1.1);
}

/* =========================
    ADD TASK FORM (POPUP)
   ========================= */

.add-task-form {
    position: absolute;
    top: 50%;
    right: 0;

    width: 400px;
    padding: 50px 30px;

    display: none;
    flex-direction: column;
    gap: 20px;

    background: var(--color-bg-secondary);
    border-radius: 10px;

    opacity: 0;
    pointer-events: none;

    transform: translateX(-50%) translateY(10px);
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

.add-task-form.active {
    display: flex;
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0);
}

.add-task-form input,
.add-task-form select {
    display: block;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.add-task-form button {
    width: 40%;
    padding: 10px 0;

    align-self: center;
    font-size: 20px;

    border: none;
    border-radius: 10px;
    background: var(--color-task-category);

    cursor: pointer;
}

/* =========================
    TASK CATEGORY GRID
   ========================= */

.task-categories {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.task-categories a, .task-list a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.task-category {
    height: 200px;
    padding: 35px 20px;

    border-radius: 40px;
    background-color: var(--color-task-category);
    color: #1F2936;

    cursor: pointer;
    overflow: hidden;

    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px 0 var(--color-shadow);

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.task-category h3 {
    text-align: center;
}

.task-category:hover {
    background-color: var(--color-hover-primary);
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}

.delete-category-btn {
    position: absolute;
    bottom: 10px;
    right: 17px;


    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #4f5e75;
    transition: color 0.3s ease;
}

/* =========================
    DUE TASKS SECTION
   ========================= */

.due-task {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 30px;
    gap: 15px;
    justify-content: center;
    align-content: center;
} 

.btn{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 20px;
}

.btn button {
    height: 70px;
    padding: 7px 20px;

    font-size: clamp(7px, calc(2vw + 1rem), 20px);
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0);
    color: var(--color-text-primary);

    box-shadow: 0 2px 10px 0 var(--color-shadow);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn .overdue{
    border: 5px solid #F87171;
}

.btn .due-today{
    border: 5px solid #FCD34D;
}

.btn .due-soon{
    border: 5px solid #B4F8D0;
}

.btn button:hover, .btn button.active {
    color: #000000;
    transform: scale(1.1);
}

.btn .overdue:hover, .overdue.active {
    background-color: #F87171;
}

.btn .due-today:hover, .due-today.active {
    background-color: #FCD34D;
}

.btn .due-soon:hover, .due-soon.active {
    background-color: #B4F8D0;
}


.task-list {
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-left: 15px solid var(--color-border-hr);
    border-radius: 10px;
    background-color: var(--color-bg-secondary);
    box-shadow: 0 4px 10px 0 var(--color-shadow);
    transition: background-color 0.3s ease;
}

.task-list.overdue .task-item{
    border-color: #F87171;
}

.task-list.dueToday .task-item{
    border-color: #FCD34D;
}

.task-list.dueSoon .task-item{
    border-color: #B4F8D0;
}

.task-item:hover {
    background-color: var(--color-hover-secondary);
}

.task-name {
    font-size: clamp(15px, calc(1.2vw + 1rem), 25px);
}

.cat-name{
        margin-top: 5px;
        font-size: clamp(12px, calc(1vw + 1rem), 18px);
        color: var(--color-text-placeholder);
}

/* =========================
    MOBILE STYLES
   ========================= */

@media (max-width: 600px) {
    .create-category-btn {
        flex: none;
    }

    .task-categories {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* gap: 25px; */
    }

    .task-category {
        padding: 10px 15px; 

        border-radius: 25px; 

        /* backdrop-filter: blur(10px);
        box-shadow: 0 4px 20px 0 var(--color-shadow); */

    }

    .task-list {
        width: 100%;
    }

}
@media (min-width: 601px) and (max-width: 900px) {
    .create-category-btn {
        flex: none;
    }

    .task-categories {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* gap: 25px; */
    }

    .task-category {
        padding: 10px 15px; 

        border-radius: 25px; 

        /* backdrop-filter: blur(10px);
        box-shadow: 0 4px 20px 0 var(--color-shadow); */

    }

    .task-list {
        width: 100%;
    }


    
}
