.task-page{
    color: var(--color-text-primary);
}

.task-categories{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.task-category {
    padding: 40px;
    border-radius: 40px;
    background-color: var(--color-task-category);
    color: #1F2936;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.create-category-btn{
    position: relative;
    padding: 20px;
    margin: 20px 55px;
    border-radius: 40px;
    background-color: var(--color-task-category);
    color: #1F2936;
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.create-category-btn:hover{
    background-color: var(--color-hover-primary);

}

.task-category:hover{
    background-color: var(--color-hover-primary);
}

.due-task{
    padding: 50px 0px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    justify-content: space-between;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 3px solid ;
}

.task-list h3{
    font-size: 30px;
}

.add-task-form{
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    gap: 20px;
    padding: 50px 30px;
    /* border: 2px solid var(--color-hover-primary); */
    border-radius: 10px;
    background: var(--color-bg-secondary);
}

.add-task-form input, .add-task-form select{
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.add-task-form button{
    font-size: 20px;
    border: none;
    background: var(--color-task-category);
    border-radius: 10px;
    width: 40%;
    padding: 10px 0px ;
    align-self: center;
    cursor: pointer;
}

