.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-page-header);
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: #1F2936;
}

.page-header .page-header-image{
    width: 30%;
}