.app-layout{
    display: flex;
}

.main-content{
    flex: 1;
}

h1{
    font-size: clamp(35px, calc(5vw + 1rem), 50px);
}

h2{
    font-size: clamp(25px, calc(4vw + 1rem), 40px);
    text-align: center;
}

h3{
    font-size: clamp(20px, calc(3vw + 1rem), 30px);
}

h4{
    font-size: clamp(18px, calc(2.5vw + 1rem), 25px);
}

p{
    font-size: clamp(15px, calc(2vw + 1rem), 20px);
    margin-top: 6px;
}