/* Importing Fonts from google font - Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}

:root{
    /* Light theme colors */
    --color-text-primary: #1F2936;
    --color-text-placeholder: #798EAE;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ECECFD;
    --color-bg-sidebar: #ffffff;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #ffc3c5;
    --color-hover-secondary: #e2e2fb;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-task-category: rgba(253, 208, 210, 0.8);
    --color-page-header: #fce1e2;
    --color-delete: #ff9898;
    --color-delete-hover: #d16d6d; 
    --color-edit: #76d8e4;
    --color-edit-hover: #69cec4;
    
    --color-edit-header: #76d8e4;
    --color-edit-header-hover: #69cec4;
    --color-delete-header: #ff9898;
    --color-delete-header-hover: #d16d6d;
}

body.dark-theme {
    /* Dark theme colors */
    --color-text-primary: #ffffff;
    --color-text-placeholder: #a6b7d2;
    --color-bg-primary: #111827;
    --color-bg-secondary: #3d4859;
    --color-bg-sidebar: #1f2937;
    --color-border-hr: #3b475c;
    --color-hover-primary: #f8bfc1;
    --color-hover-secondary: #48566a;
    --color-shadow: rgba(255, 195, 197, 0.5);
    --color-task-category: rgba(255, 204, 206, 0.97);
    --color-page-header: #f2cacc;
    --color-delete: #fa5959;
    --color-delete-hover: #f68c8c; 
    --color-edit: #658ca1;
    --color-edit-hover: #96cec0;
    --color-delete-header: #ff5959;
    --color-delete-header-hover: #d07b7b;
    --color-edit-header: #266e96;
    --color-edit-header-hover: #96cec0;
}

body{
    background: var(--color-bg-primary);
}
